---
title: Learning (Backbone, and Other Technologies)
---
<div class="slide section">
  <div class="top-left">
    <h1>Learning <em>(Backbone, and other technologies)</em></h1>
  </div>
  <div class="bottom-left">
    <p>Greg MacWilliam, Vox Media / General Assembly</p>
  </div>
</div>

<div class="slide">
  <div class="top-left">
    <h1>Backbone <span class="smaller">@</span><br><%= image_tag 'vox.svg', :alt => 'Vox', :class => 'vox-logo' %></h1>
  </div>
  <%= image_tag 'cardstack.png', :alt => 'Cardstack', :class => 'vox-cardstack' %>
</div>

<div class="slide">
  <div class="top-left">
    <h1>Objectives</h1>
  </div>
  <div class="bottom-left">
    <ul class="bullet-list">
      <li>Learning.</li>
      <li>Learning JavaScript.</li>
      <li>Learning Backbone.</li>
      <li>Learning the Future.</li>
    </ul>
  </div>
</div>

<div class="slide section">
  <h1 class="center-content">Learning.</h1>
</div>

<div class="slide">
  <div class="center-content">
    <h1>Learning is Hard</h1>
    <p>We confront the Emotional Cycle of Change.</p>
    <%= image_tag 'cycle-of-change.svg', :alt => 'Emotional Cycle of Change', :class => 'cycle-of-change' %>
  </div>
</div>

<div class="slide sub-section">
  <div class="center-content">
    <h2>Growth Mindset</h2>
    <div class="growth-mindset">
      <%= image_tag 'growth-mindset-video.png', :alt => 'Eduardo Briceno, "The Power of Belief: Mindset and Success".' %>
      <blockquote>
        <!--p>"The key to success is not simply effort, or focus, or resiliance; but it is the growth mindset that creates them. The mindset itself is critical."</p-->
        <p>"When we realize that we can change our own abilities&mdash;when we have a Growth Mindset&mdash;we bring our game to new levels."</p>
        <footer>Eduardo Briceno<br> "The Power of Belief: Mindset and Success"</footer>
      </blockquote>
    </div>
  </div>
</div>

<!--div class="slide section growth-mindset">
  <iframe width="560" height="315" src="//www.youtube.com/embed/pN34FNbOKXc?start=119&end=173&showinfo=0&modestbranding=1&controls=0" frameborder="0" allowfullscreen></iframe>
  <div class="bottom-panel">
    <p>
      Eduardo Briceno,<br>
      "The Power of Belief: Mindset and Success"
    </p>
  </div>
</div-->

<div class="slide">
  <div class="center-content">
    <h2>Mindset &nbsp;Perception</h2>
    <%= image_tag 'growth-mindset.svg', :alt => 'Fixed versus Growth Mindset.', :class => 'cycle-of-change' %>
  </div>
</div>

<div class="slide">
  <h2 class="center-content">I don't know... <u>Yet</u>.</h2>
</div>

<div class="slide sub-section">
  <h2 class="center-content"><%= image_tag 'ga-white.png', :alt => 'GA', :class => "ga-yes" %> Yes, Let's!</h2>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Mentorship</h2>
    <%= image_tag 'junior-senior.svg', :alt => 'Junior + Senior', :class => 'junior-senior' %>
    <p>Junior + Senior experience levels push <em>each other</em> <br>along the Emotional Cycle of Change.</p>
  </div>
</div>

<div class="slide section">
  <h1 class="center-content">Learning JavaScript.</h1>
</div>

<div class="slide">
  <div class="center-content">
    <h2>JavaScript is Small</h2>
    <ul class="column-list javascript-lang">
      <li>String</li>
      <li>Number</li>
      <li>Boolean</li>
      <li>Date</li>
      <li>Object</li>
      <li>Array</li>
      <li>Function</li>
      <li>Math</li>
      <li>var/function</li>
      <li>if/else</li>
      <li>for/while</li>
      <li>try/catch</li>
    </ul>
  </div>
</div>

<div class="slide">
  <div class="center-content javascript-difficulty">
    <h2>So why is it Hard?</h2>
    <%= image_tag 'javascript.png', :alt => 'JavaScript', :class => 'javascript-intro' %>
  </div>
</div>

<div class="slide sub-section">
  <div class="center-content">
    <blockquote>
      <p>Ironically, embracing only the "easy" parts of JavaScript makes many common operations seem illogical, and thus makes the language as a whole more confusing.</p>
    </blockquote>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>JS, The Real Parts</h2>
    <div class="column-layout javascript-core">
      <div class="column">
        <h3>Easy Parts</h3>
        <ul>
          <li>Data&nbsp;Types&nbsp;&amp;&nbsp;Variables</li>
          <li>Data&nbsp;Structures&nbsp;&amp;&nbsp;Enums</li>
          <li>Conditionals</li>
          <li>Simple Functions</li>
        </ul>
      </div>
      <div class="column">
        <h3>Real Parts</h3>
        <ul>
          <li>First-Class Functions</li>
          <li>Closure &amp; Scope</li>
          <li>Contextual Invocation</li>
          <li>Prototypal Inheritance</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Backend / Frontend</h2>
    <p>What do we learn first? Why?</p>
    <%= image_tag 'backend-frontend.svg', :alt => 'Backend to Frontend', :class => 'backend-frontend' %>
  </div>
</div>

<div class="slide">
  <div class="center-content learn-languages">
    <h2 class="smaller">Benefits of Multiple &nbsp;Languages</h2>
    <ul>
      <li>You become smarter.</li>
      <li>You build multi-tasking skills.</li>
      <li>You become more perceptive.</li>
      <li>Your memory improves.</li>
      <li>Your decision-making skills improve.</li>
      <li>Your native language improves.</li>
    </ul>
    <%= image_tag 'actfl-horizontal.png', :alt => 'ACTFL' %>
  </div>
</div>

<div class="slide section">
  <h1 class="center-content">Learning Backbone.</h1>
</div>

<div class="slide">
  <h2 class="center-content smaller">So, Uh... What do I do with it?</h2>
</div>

<div class="slide sub-section">
  <h2 class="center-content smaller">The Simple Lessons of Backbone</h2>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Model / View Separation</h2>
    <div class="mv-separation">
      <span class="divider" style="height:calc(110%);"></span>
      <%= image_tag 'mv-separation.svg', :alt => 'Model/View Separation' %>
      <ul class="column-list">
        <li class="right"><h3>Model</h3></li>
        <li class="right">Manages application data.</li>
        <li class="right">Notifies of changes.</li>
        <li class="left"><h3>View</h3></li>
        <li class="left">Captures user input.</li>
        <li class="left">Renders model state.</li>
      </ul>
    </div>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>M/V is One-to-Many</h2>
    <p>Many views can synchronize updates through a shared model.</p>
    <div class="mv-separation mv-one-to-many">
      <span class="divider"></span>
      <%= image_tag 'mv-many.svg', :alt => 'Model/View Separation' %>
    </div>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Collection / Model</h2>
    <p>Form a direct mapping of RESTful resources.</p>
    <table class="backbone-rest collection">
      <tr>
        <td class="component" rowspan="2">Collection</td>
        <td>GET&nbsp; /muppets/ <em>.....</em> collection.fetch();</td>
      </tr>
      <tr>
        <td>POST /muppets/ <em>.....</em> collection.create();</td>
      </tr>
    </table>
    <table class="backbone-rest model">
      <tr>
        <td class="component" rowspan="3">Model</td>
        <td>GET&nbsp; /muppets/1 <em>....</em> model.fetch();</td>
      </tr>
      <tr>
        <td>PUT&nbsp; /muppets/1 <em>....</em> model.save();</td>
      </tr>
      <tr>
        <td>DEL&nbsp; /muppets/1 <em>....</em> model.destroy();</td>
      </tr>
    </table>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>API / Modeling</h2>
    <p>It's okay if they don't match 1:1 ... that's what <code>parse</code> is for.</p>
    <div class="column-layout backbone-parse">
      <div class="column left">
<code><pre>{
  "muppets": [
    {"id": 1, "name": "Kermit"},
    {"id": 2, "name": "Fozzy"}
  ]
}</pre></code>
      </div>
      <div class="column right">
<code><pre>Backbone.Collection.extend({
  url: "/muppets",
  parse: function(data) {
    return data.muppets;
  }
});</pre></code>
      </div>
    </div>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Routers</h2>
    <p>There are no simple lessons.</p>
  </div>
</div>

<div class="slide section">
  <h1 class="center-content">Learning The Future.</h1>
</div>

<div class="slide">
  <div class="center-content">
    <h2>A Retrospective</h2>
    <%= image_tag 'choropleth.png', :alt => 'Choropleth Map', :height => '350' %>
    <!--ul class="">
      <li>Midi => Flash => Adudio Tag, WebAudio API</li>
      <li>Flare => Protovis => D3</li>
      <li>2007: jQuery, iPhone</li>
      <li>2009: Node, Mongo, Angular</li>
      <li>2010: Responsive Design, Backbone</li>
    </ul-->
  </div>
</div>

<div class="slide sub-section">
  <div class="center-content">
    <h2>Design Patterns</h2>
    <blockquote>
      <p class="smaller">The iPhone SDK is based on the NeXTStep object-oriented frameworks like the AppKit. ... Which is a great example of the enduring nature of good design, and how it survives different technical manifestations.</p>
      <footer>&mdash; Erich Gamma &amp; Richard Helm</footer>
    </blockquote>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Backbone is Pattern</h2>
    <!--blockquote>
      <p>Backbone is the minimal abstraction of ...<br> the common solutions for 90% of use cases.</p>
      <footer>&mdash; Jeremy Ashkenas</footer>
    </blockquote-->
    <%= image_tag 'mv-separation.svg', :alt => 'Model/View Separation', :class => 'backbone-pattern' %>
  </div>
</div>

<div class="slide conway">
  <div class="center-content">
    <h2>Start Over</h2>
  </div>
</div>

<div class="slide">
  <h2 class="center-content">Yes, Let's.</h2>
</div>

<div class="slide section">
  <div class="top-left">
    <h1>Thank You <em>(And Happy Holidays!)</em></h1>
  </div>
  <div class="bottom-left">
    <ul>
      <li>Greg MacWilliam</li>
      <li>@gmacwilliam</li>
      <li>gmac (GitHub)</li>
    </ul>

    <ul class="logo-soup">
      <li><%= image_tag 'vox-media.svg', :alt => 'Vox Media' %></li>
      <li><%= image_tag 'ga-color.png', :alt => 'General Assembly' %></li>
      <!--li><%= image_tag 'epoxy.png', :alt => 'Backbone.Epoxy' %></li-->
    </ul>
  </div>
</div>