---
title: Learning (Backbone, and Other Technologies)
---
<div class="slide section">
  <div class="top-left">
    <h1>Learning <em>(Backbone, and other technologies)</em></h1>
  </div>
  <div class="bottom-left">
    <p>Greg MacWilliam, Vox Media / General Assembly</p>
  </div>
</div>

<div class="slide">
  <div class="top-left">
    <h1>Backbone <span class="smaller">@</span> <%= image_tag 'vox.svg', :alt => 'Vox', :class => 'vox-logo' %></h1>
  </div>
  <%= image_tag 'cardstack.png', :alt => 'Cardstack', :class => 'vox-cardstack' %>
</div>

<div class="slide">
  <div class="top-left">
    <h1>Objectives</h1>
  </div>
  <div class="bottom-left">
    <ul class="bullet-list">
      <li>Learning.</li>
      <li>Learning JavaScript.</li>
      <li>Learning Backbone.</li>
      <li>Learning the Future.</li>
    </ul>
  </div>
</div>

<div class="slide section">
  <h1 class="center-content">Learning.</h1>
</div>

<div class="slide">
  <div class="center-content">
    <h1>Learning is Hard</h1>
    <p>We confront the Cycle of Change.</p>
    <%= image_tag 'cycle-of-change.svg', :alt => 'Cycle of Change', :class => 'cycle-of-change' %>
  </div>
</div>

<div class="slide sub-section">
  <div class="center-content">
    <h2>Growth Mindset</h2>
    <div class="growth-mindset">
      <%= link_to image_tag('growth-mindset-video.png', :alt => 'Eduardo Briceno, "The Power of Belief: Mindset and Success".'), 'https://www.youtube.com/watch?v=pN34FNbOKXc', :target => '_blank' %>
      <blockquote>
        <!--p>"The key to success is not simply effort, or focus, or resiliance; but it is the growth mindset that creates them. The mindset itself is critical."</p-->
        <p>"When we realize that we can change our own abilities&mdash;when we have a Growth Mindset&mdash;we bring our game to new levels."</p>
        <footer>Eduardo Briceno<br> "The Power of Belief: Mindset and Success"</footer>
      </blockquote>
    </div>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Mindsets</h2>
    <%= image_tag 'growth-mindset.svg', :alt => 'Fixed versus Growth Mindset.', :class => 'cycle-of-change' %>
  </div>
</div>

<div class="slide sub-section">
  <h2 class="center-content">Yes, Let's!</h2>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Mentorship</h2>
    <%= image_tag 'junior-senior.svg', :alt => 'Junior + Senior', :class => 'junior-senior' %>
    <p>Experience levels push <em>each other</em>.</p>
  </div>
</div>

<div class="slide section">
  <h1 class="center-content">Learning JavaScript.</h1>
</div>

<div class="slide">
  <div class="center-content javascript-difficulty">
    <h2>Why is it so Hard?</h2>
    <%= image_tag 'javascript.png', :alt => 'JavaScript', :class => 'javascript-intro' %>
  </div>
</div>

<div class="slide sub-section">
  <div class="center-content">
    <blockquote class="javascript-understanding">
      <p>Ironically, embracing only the "familiar" parts of JavaScript makes many basic operations seem illogical, and thus makes the language as a whole more confusing.</p>
    </blockquote>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Core JavaScript</h2>
    <div class="column-layout real-parts">
      <div class="column">
        <h3>Traditional</h3>
        <ul>
          <li>Data&nbsp;Types&nbsp;&amp;&nbsp;Variables</li>
          <li>Data&nbsp;Structures&nbsp;&amp;&nbsp;Enums</li>
          <li>Conditionals</li>
          <li>Simple Functions</li>
        </ul>
      </div>
      <div class="column">
        <h3>Aspirational</h3>
        <ul>
          <li>First-Class Functions</li>
          <li>Closure &amp; Scope</li>
          <li>Contextual Invocation</li>
          <li>Prototypal Inheritance</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="slide sub-section">
  <div class="center-content">
    <h2>require('*');</h2>
    <p>* Another language.</p>
  </div>
</div>

<div class="slide">
  <div class="center-content learn-languages">
    <h2>Foreign Language:</h2>
    <ul>
      <li>Makes you smarter.</li>
      <li>Builds multi-tasking skills.</li>
      <li>Increases perception.</li>
      <li>Improves memory.</li>
      <li>Improves decision-making skills.</li>
      <li>Improves your native language.</li>
    </ul>
    <p class="attribution">From the American Council on the Teaching of Foreign Languages</p>
  </div>
</div>

<div class="slide section">
  <h1 class="center-content">Learning Backbone.</h1>
</div>

<div class="slide">
  <h2 class="center-content smaller">So, Uh... What do I do with it?</h2>
</div>

<div class="slide sub-section">
  <h2 class="center-content smaller">The Simple Lessons of Backbone</h2>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Backend / Frontend</h2>
    <p>Backend is a good place to start.</p>
    <%= image_tag 'backend-frontend.svg', :alt => 'Backend to Frontend', :class => 'backend-frontend' %>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Model / View Separation</h2>
    <div class="mv-separation">
      <span class="divider" style="height:calc(110%);"></span>
      <%= image_tag 'mv-separation.svg', :alt => 'Model/View Separation' %>
      <ul class="column-list smaller">
        <li class="right"><h3>Model</h3></li>
        <li class="right">Manages app data.</li>
        <li class="right">Notifies of changes.</li>
        <li class="left"><h3>View</h3></li>
        <li class="left">Captures user input.</li>
        <li class="left">Renders model state.</li>
      </ul>
    </div>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>M/V is Freeform</h2>
    <p>Views synchronize through shared models.</p>
    <div class="mv-separation mv-one-to-many">
      <span class="divider"></span>
      <%= image_tag 'mv-many.svg', :alt => 'Model/View Separation' %>
    </div>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Collection / Model</h2>
    <p>Form a direct mapping of RESTful resources.</p>
    <table class="backbone-rest collection">
      <tr>
        <td class="component" rowspan="2">Collection</td>
        <td>GET&nbsp; /muppets/ <em>....</em> collection.fetch();</td>
      </tr>
      <tr>
        <td>POST /muppets/ <em>....</em> collection.create();</td>
      </tr>
    </table>
    <table class="backbone-rest model">
      <tr>
        <td class="component" rowspan="3">Model</td>
        <td>GET&nbsp; /muppets/1 <em>...</em> model.fetch();</td>
      </tr>
      <tr>
        <td>PUT&nbsp; /muppets/1 <em>...</em> model.save();</td>
      </tr>
      <tr>
        <td>DEL&nbsp; /muppets/1 <em>...</em> model.destroy();</td>
      </tr>
    </table>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>API / Modeling</h2>
    <p>Don't always match ... that's what <code>parse</code> is for.</p>
    <div class="column-layout backbone-parse">
      <div class="column left">
<code><pre>{
  "muppets": [
    {"id": 1, "name": "Kermit"},
    {"id": 2, "name": "Fozzy"}
  ]
}</pre></code>
      </div>
      <div class="column right">
<code><pre>Backbone.Collection.extend({
  url: "/muppets",
  parse: function(data) {
    <b>return data.muppets;</b>
  }
});</pre></code>
      </div>
    </div>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Routers</h2>
    <p>There are no simple lessons.</p>
    <%= image_tag 'routers.jpg', :alt => 'Lessons of Routers', :class => 'routers' %>
  </div>
</div>

<div class="slide section">
  <h1 class="center-content">Learning The Future.</h1>
</div>

<div class="slide">
  <div class="center-content">
    <h2>A Retrospective</h2>
    <%= image_tag 'choropleth.png', :alt => 'Choropleth Map', :height => '350' %>
  </div>
</div>

<div class="slide sub-section">
  <div class="center-content">
    <h2>Design Patterns</h2>
    <blockquote>
      <p class="smaller">The iPhone SDK is based on the NeXTStep object-oriented frameworks ... Which is a great example of the enduring nature of good design, and how it survives different technical manifestations.</p>
      <footer>&mdash; Erich Gamma &amp; Richard Helm</footer>
    </blockquote>
  </div>
</div>

<div class="slide">
  <div class="center-content">
    <h2>Backbone in 2025</h2>
    <p>What will the successor look like?</p>
    <%= image_tag 'mv-separation.svg', :alt => 'Model/View Separation', :class => 'backbone-pattern' %>
  </div>
</div>

<div class="slide conway">
  <div class="center-content">
    <h2>Start Over</h2>
  </div>
</div>

<div class="slide">
  <h2 class="center-content">Yes, Let's.</h2>
</div>

<div class="slide section">
  <div class="top-left">
    <h1>Thank You <em>(and Happy Holidays)</em></h1>
  </div>
  <div class="bottom-left">
    <ul>
      <li>Greg MacWilliam</li>
      <li>@gmacwilliam</li>
      <li>gmac (GitHub)</li>
    </ul>

    <ul class="logo-soup">
      <li><%= image_tag 'vox-media.svg', :alt => 'Vox Media' %></li>
      <li><%= image_tag 'ga-color.png', :alt => 'General Assembly' %></li>
      <!--li><%= image_tag 'epoxy.png', :alt => 'Backbone.Epoxy' %></li-->
    </ul>
  </div>
</div>